<a href="https://colab.research.google.com/github/amppppppp/data_sci_CU_2022/blob/main/Assignment3_panuwat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
!pip install --upgrade scikit-learn==1.0.2
!pip install --upgrade numpy==1.21.5
import time
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn==1.0.2 in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.2) (1.21.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.2) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.2) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.2) (3.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy==1.21.5 in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [77]:
!wget https://raw.githubusercontent.com/kaopanboonyuen/Python-Data-Science/master/Dataset/hed2020_dataset.csv

--2022-09-15 14:53:53--  https://raw.githubusercontent.com/kaopanboonyuen/Python-Data-Science/master/Dataset/hed2020_dataset.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 352588 (344K) [text/plain]
Saving to: ‘hed2020_dataset.csv.2’

hed2020_dataset.csv 100%[===================>] 344.32K  --.-KB/s    in 0.01s

2022-09-15 14:53:53 (23.3 MB/s) - ‘hed2020_dataset.csv.2’ saved [352588/352588]

# 1. Read data

In [78]:
df=pd.read_csv("hed2020_dataset.csv")

In [79]:
df.head()

,id,label,cap-shape,cap-surface,bruises,odor,gill-attachment,gill-spacing,gill-size,stalk-shape,...,ring-number,ring-type,spore-print-color,population,habitat,cap-color-rate,gill-color-rate,veil-color-rate,stalk-color-above-ring-rate,stalk-color-below-ring-rate
0,1,p,x,s,t,p,f,c,n,e,...,o,p,k,s,u,1.0,3.0,1.0,1.0,1.0
1,2,e,x,s,t,a,f,c,b,e,...,o,p,n,n,g,2.0,3.0,1.0,1.0,1.0
2,3,e,b,s,t,l,f,c,b,e,...,o,p,n,n,m,3.0,1.0,1.0,1.0,1.0
3,4,p,x,y,t,p,f,c,n,e,...,o,p,k,s,u,3.0,1.0,1.0,1.0,1.0
4,5,e,x,s,f,n,f,w,b,t,...,o,e,n,a,g,4.0,3.0,1.0,1.0,1.0

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5824 entries, 0 to 5823
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           5824 non-null   int64
 1   label                        5764 non-null   object
 2   cap-shape                    5824 non-null   object
 3   cap-surface                  5797 non-null   object
 4   bruises                      5725 non-null   object
 5   odor                         5725 non-null   object
 6   gill-attachment              5725 non-null   object
 7   gill-spacing                 5694 non-null   object
 8   gill-size                    5703 non-null   object
 9   stalk-shape                  5703 non-null   object
 10  stalk-root                   5793 non-null   object
 11  stalk-surface-above-ring     5793 non-null   object
 12  stalk-surface-below-ring     5793 non-null   object
 13  veil-type                    5762 non-null   object
 14  ring-number                  5762 non-null   object
 15  ring-type                    5762 non-null   object
 16  spore-print-color            5768 non-null   object
 17  population                   5768 non-null   object
 18  habitat                      5793 non-null   object
 19  cap-color-rate               5797 non-null   float64
 20  gill-color-rate              5703 non-null   float64
 21  veil-color-rate              5762 non-null   float64
 22  stalk-color-above-ring-rate  5793 non-null   float64
 23  stalk-color-below-ring-rate  5762 non-null   float64
dtypes: float64(5), int64(1), object(18)
memory usage: 1.1+ MB

In [81]:
null_counts = df.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts)) #check null values
df.shape

Number of null values in each column:
id                               0
label                           60
cap-shape                        0
cap-surface                     27
bruises                         99
odor                            99
gill-attachment                 99
gill-spacing                   130
gill-size                      121
stalk-shape                    121
stalk-root                      31
stalk-surface-above-ring        31
stalk-surface-below-ring        31
veil-type                       62
ring-number                     62
ring-type                       62
spore-print-color               56
population                      56
habitat                         31
cap-color-rate                  27
gill-color-rate                121
veil-color-rate                 62
stalk-color-above-ring-rate     31
stalk-color-below-ring-rate     62
dtype: int64

(5824, 24)

In [82]:
for col in df.columns:
  print(df[col].value_counts()) # print all value to check all values

1       1
3891    1
3889    1
3888    1
3887    1
       ..
1940    1
1939    1
1938    1
1937    1
5824    1
Name: id, Length: 5824, dtype: int64
p    3660
e    2104
Name: label, dtype: int64
f    2397
x    2394
k     828
b     201
c       4
Name: cap-shape, dtype: int64
y    2517
s    1753
f    1523
g       4
Name: cap-surface, dtype: int64
f    3849
t    1876
Name: bruises, dtype: int64
n    2235
f    2107
s     570
y     569
c     190
m      36
p       9
a       6
l       3
Name: odor, dtype: int64
f    5518
a     207
Name: gill-attachment, dtype: int64
c    5234
w     460
Name: gill-spacing, dtype: int64
b    3663
n    2040
Name: gill-size, dtype: int64
t    3282
e    2421
Name: stalk-shape, dtype: int64
b    3233
?    2480
c      53
e      27
Name: stalk-root, dtype: int64
s    3224
k    2367
f     178
y      24
Name: stalk-surface-above-ring, dtype: int64
s    3176
k    2299
f     226
y      92
Name: stalk-surface-below-ring, dtype: int64
p    5762
Name: veil-type, dtype: int64
o    5132
t     595
n      35
Name: ring-number, dtype: int64
p    2379
e    2018
l    1282
f      48
n      35
Name: ring-type, dtype: int64
w    2380
h    1612
n     807
k     755
r      70
o      48
y      48
b      48
Name: spore-print-color, dtype: int64
v    3521
y    1353
s     403
c     336
n     149
a       6
Name: population, dtype: int64
d    2608
p    1047
g     924
l     832
w     192
u     149
m      41
Name: habitat, dtype: int64
1.0     1576
4.0     1404
5.0     1395
2.0      673
3.0      370
7.0      164
6.0      139
9.0       44
8.0       16
10.0      16
Name: cap-color-rate, dtype: int64
9.0     1712
4.0      976
5.0      790
2.0      591
7.0      533
1.0      432
6.0      396
8.0       90
10.0      86
11.0      64
12.0      24
3.0        9
Name: gill-color-rate, dtype: int64
1.0    5659
2.0      95
3.0       8
Name: veil-color-rate, dtype: int64
1.0    2436
2.0    1727
5.0     445
4.0     430
3.0     423
7.0     192
6.0      96
8.0      36
9.0       8
Name: stalk-color-above-ring-rate, dtype: int64
1.0    2339
5.0    1724
7.0     508
6.0     427
4.0     423
8.0     190
3.0      94
9.0      35
2.0      22
Name: stalk-color-below-ring-rate, dtype: int64


# 2. Drop rows where the target (label) variable is missing.

In [83]:
df.dropna(subset=['label'],axis = 0,inplace= True)

In [84]:
null_counts = df.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts)) #check null values
df.shape

Number of null values in each column:
id                               0
label                            0
cap-shape                        0
cap-surface                     27
bruises                         99
odor                            99
gill-attachment                 99
gill-spacing                   130
gill-size                      121
stalk-shape                    121
stalk-root                      31
stalk-surface-above-ring        31
stalk-surface-below-ring        31
veil-type                       62
ring-number                     62
ring-type                       62
spore-print-color               56
population                      56
habitat                         31
cap-color-rate                  27
gill-color-rate                121
veil-color-rate                 62
stalk-color-above-ring-rate     31
stalk-color-below-ring-rate     62
dtype: int64

(5764, 24)

# 3.  Drop the following variables 11 columns

In [85]:
selectcol=['gill-attachment', 'gill-spacing', 'gill-size','gill-color-rate',
'stalk-root', 'stalk-surface-above-ring', 'stalk-surface-below-ring', 'stalk-color-above-ring-rate','stalk-color-below-ring-rate','veil-color-rate','veil-type']# 11 columns to remove
df.drop(columns=selectcol ,axis=1, inplace= True)

# 4. Examine the number of rows, the number of digits, and whether any are missing.

In [86]:
null_counts = df.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts)) #check null values
df.shape

Number of null values in each column:
id                     0
label                  0
cap-shape              0
cap-surface           27
bruises               99
odor                  99
stalk-shape          121
ring-number           62
ring-type             62
spore-print-color     56
population            56
habitat               31
cap-color-rate        27
dtype: int64

(5764, 13)

In [87]:
df.head()

,id,label,cap-shape,cap-surface,bruises,odor,stalk-shape,ring-number,ring-type,spore-print-color,population,habitat,cap-color-rate
0,1,p,x,s,t,p,e,o,p,k,s,u,1.0
1,2,e,x,s,t,a,e,o,p,n,n,g,2.0
2,3,e,b,s,t,l,e,o,p,n,n,m,3.0
3,4,p,x,y,t,p,e,o,p,k,s,u,3.0
4,5,e,x,s,f,n,t,o,e,n,a,g,4.0

# 5. Fill missing values by adding the mean for numeric variables and the mode for nominal variables.

In [88]:
mode_value=df.mode().iloc[0] #cal mode value
mean_value=df['cap-color-rate'].mean()
print(mode_value)
print(mean_value)

id                     1
label                  p
cap-shape              f
cap-surface            y
bruises                f
odor                   n
stalk-shape            t
ring-number            o
ring-type              p
spore-print-color      w
population             v
habitat                d
cap-color-rate       1.0
Name: 0, dtype: object
3.327523095694614

In [89]:
df['cap-color-rate'].fillna(value=mean_value,inplace= True)
df.fillna(value=mode_value,inplace= True) ## fill all na value
print(df.isnull().sum())
df.dtypes

id                   0
label                0
cap-shape            0
cap-surface          0
bruises              0
odor                 0
stalk-shape          0
ring-number          0
ring-type            0
spore-print-color    0
population           0
habitat              0
cap-color-rate       0
dtype: int64

id                     int64
label                 object
cap-shape             object
cap-surface           object
bruises               object
odor                  object
stalk-shape           object
ring-number           object
ring-type             object
spore-print-color     object
population            object
habitat               object
cap-color-rate       float64
dtype: object

# 6. Convert the label variable e (edible) to 1 and p (poisonous) to 0 and check the quantity. class0: class1

In [90]:
df['label']=df['label'].replace(['e','p'],[1,0])   # replace data e->class1 , p -> class 0
print(df.head())

   id  label cap-shape cap-surface bruises odor stalk-shape ring-number  \
0   1      0         x           s       t    p           e           o
1   2      1         x           s       t    a           e           o
2   3      1         b           s       t    l           e           o
3   4      0         x           y       t    p           e           o
4   5      1         x           s       f    n           t           o

  ring-type spore-print-color population habitat  cap-color-rate
0         p                 k          s       u             1.0
1         p                 n          n       g             2.0
2         p                 n          n       m             3.0
3         p                 k          s       u             3.0
4         e                 n          a       g             4.0

In [91]:
print(df.label.value_counts())

0    3660
1    2104
Name: label, dtype: int64

In [92]:
for col in df.columns:
  print(df[col].value_counts()) # print all value to check all values

1       1
3911    1
3909    1
3908    1
3907    1
       ..
1980    1
1979    1
1978    1
1977    1
5824    1
Name: id, Length: 5764, dtype: int64
0    3660
1    2104
Name: label, dtype: int64
f    2382
x    2349
k     828
b     201
c       4
Name: cap-shape, dtype: int64
y    2519
s    1749
f    1492
g       4
Name: cap-surface, dtype: int64
f    3942
t    1822
Name: bruises, dtype: int64
n    2277
f    2107
s     570
y     569
c     189
m      36
p       7
a       6
l       3
Name: odor, dtype: int64
t    3346
e    2418
Name: stalk-shape, dtype: int64
o    5134
t     595
n      35
Name: ring-number, dtype: int64
p    2386
e    2013
l    1282
f      48
n      35
Name: ring-type, dtype: int64
w    2436
h    1612
n     778
k     724
r      70
o      48
y      48
b      48
Name: spore-print-color, dtype: int64
v    3547
y    1330
s     398
c     336
n     149
a       4
Name: population, dtype: int64
d    2586
p    1047
g     919
l     832
w     192
u     147
m      41
Name: habitat, dtype: int64
1.000000     1558
5.000000     1381
4.000000     1380
2.000000      673
3.000000      367
7.000000      164
6.000000      138
9.000000       44
3.327523       27
8.000000       16
10.000000      16
Name: cap-color-rate, dtype: int64

# 7. Convert the nominal variable to numeric using a dummy code with drop_first = True.

In [93]:
dummies_columns=[
"cap-shape",          
"cap-surface",
"bruises",         
"odor",         
"stalk-shape",       
"ring-number",      
"ring-type",     
"spore-print-color",  
"population",  
"habitat"]

dummy_df=pd.get_dummies(df[dummies_columns],drop_first= True) ## create dummies
dummy_df

,cap-shape_c,cap-shape_f,cap-shape_k,cap-shape_x,cap-surface_g,cap-surface_s,cap-surface_y,bruises_t,odor_c,odor_f,...,population_n,population_s,population_v,population_y,habitat_g,habitat_l,habitat_m,habitat_p,habitat_u,habitat_w
0,0,0,0,1,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
1,0,0,0,1,0,1,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0
3,0,0,0,1,0,0,1,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5820,0,0,0,1,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
5821,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5822,0,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
5823,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [94]:
df=pd.concat([df,dummy_df],axis=1)
df=df.drop(dummies_columns,axis=1)

In [95]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5764 entries, 0 to 5823
Data columns (total 44 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   5764 non-null   int64
 1   label                5764 non-null   int64
 2   cap-color-rate       5764 non-null   float64
 3   cap-shape_c          5764 non-null   uint8
 4   cap-shape_f          5764 non-null   uint8
 5   cap-shape_k          5764 non-null   uint8
 6   cap-shape_x          5764 non-null   uint8
 7   cap-surface_g        5764 non-null   uint8
 8   cap-surface_s        5764 non-null   uint8
 9   cap-surface_y        5764 non-null   uint8
 10  bruises_t            5764 non-null   uint8
 11  odor_c               5764 non-null   uint8
 12  odor_f               5764 non-null   uint8
 13  odor_l               5764 non-null   uint8
 14  odor_m               5764 non-null   uint8
 15  odor_n               5764 non-null   uint8
 16  odor_p               5764 non-null   uint8
 17  odor_s               5764 non-null   uint8
 18  odor_y               5764 non-null   uint8
 19  stalk-shape_t        5764 non-null   uint8
 20  ring-number_o        5764 non-null   uint8
 21  ring-number_t        5764 non-null   uint8
 22  ring-type_f          5764 non-null   uint8
 23  ring-type_l          5764 non-null   uint8
 24  ring-type_n          5764 non-null   uint8
 25  ring-type_p          5764 non-null   uint8
 26  spore-print-color_h  5764 non-null   uint8
 27  spore-print-color_k  5764 non-null   uint8
 28  spore-print-color_n  5764 non-null   uint8
 29  spore-print-color_o  5764 non-null   uint8
 30  spore-print-color_r  5764 non-null   uint8
 31  spore-print-color_w  5764 non-null   uint8
 32  spore-print-color_y  5764 non-null   uint8
 33  population_c         5764 non-null   uint8
 34  population_n         5764 non-null   uint8
 35  population_s         5764 non-null   uint8
 36  population_v         5764 non-null   uint8
 37  population_y         5764 non-null   uint8
 38  habitat_g            5764 non-null   uint8
 39  habitat_l            5764 non-null   uint8
 40  habitat_m            5764 non-null   uint8
 41  habitat_p            5764 non-null   uint8
 42  habitat_u            5764 non-null   uint8
 43  habitat_w            5764 non-null   uint8
dtypes: float64(1), int64(2), uint8(41)
memory usage: 410.9 KB
None

# 8. Split train/test with 20% test, stratify, and seed = 2020.

In [96]:
from sklearn.model_selection import train_test_split

In [97]:
X = df.drop(['label','id'],axis=1)
y = df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.20, random_state=2020) ## create train test df

In [98]:
print('Train->',y_train.shape,'Test->',y_test.shape)

Train-> (4611,) Test-> (1153,)

# 9. Create a Random Forest with GridSearch on training data with 5 CV, random state 2020. 
#​'criterion':['gini','entropy']
#'max_depth': [2,3,6]
#'min_samples_leaf':[2,5,10]
#'N_estimators':[100,200]

In [99]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

In [100]:
param_grid = { 
'criterion':['gini','entropy'],
'max_depth': [2,3,6],
'min_samples_leaf':[2,5,10],
'n_estimators':[100,200]
}

In [101]:
grid_search = GridSearchCV(estimator=RandomForestClassifier(random_state=2020),param_grid=param_grid,cv=5,n_jobs=-1)

grid_search.fit(X_train, y_train) # grid search

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=2020),
             n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [2, 3, 6], 'min_samples_leaf': [2, 5, 10],
                         'n_estimators': [100, 200]})

In [102]:
x=grid_search.best_params_ ## select this parameter to continue
x

{'criterion': 'gini',
 'max_depth': 6,
 'min_samples_leaf': 2,
 'n_estimators': 100}

In [106]:
model=RandomForestClassifier(criterion= 'gini', max_depth= 6,min_samples_leaf= 2, n_estimators = 100 ,random_state=2020) # train again using best parameter

model.fit(X_train, y_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=2, random_state=2020)

# 10.Predict the testing data set with confusion_matrix and classification_report.

In [107]:
from sklearn.metrics import classification_report,confusion_matrix

In [108]:
y_pred=model.predict(X_test)
print(classification_report(y_test,y_pred,digits=4)) ## classification report

print(confusion_matrix(y_test,y_pred,labels=[0,1])) ## confusion matrix

              precision    recall  f1-score   support

           0     0.9932    0.9986    0.9959       732
           1     0.9976    0.9881    0.9928       421

    accuracy                         0.9948      1153
   macro avg     0.9954    0.9934    0.9944      1153
weighted avg     0.9948    0.9948    0.9948      1153

[[731   1]
 [  5 416]]