# Assignment - Basic Pandas
<sup>Created by Natawut Nupairoj, Department of Computer Engineering, Chulalongkorn University</sup>

Using pandas to explore youtube trending data from GB (GBvideos.csv and GB_category_id.json) and answer the questions.

In [114]:
import pandas as pd
import numpy as np

To simplify data retrieval process on Colab, we heck if we are in the Colab environment and download data files from a shared drive and save them in folder "data".

For those using jupyter notebook on the local computer, you can read data directly assuming you save data in the folder "data".

In [115]:
import sys
IN_COLAB = 'google.colab' in sys.modules
if IN_COLAB:
    !wget https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/data.tgz -O data.tgz
    !tar -xzvf data.tgz

--2022-08-13 10:04:23--  https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/data.tgz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/kaopanboonyuen/2110446_DataScience_2021s2/main/datasets/data.tgz [following]
--2022-08-13 10:04:23--  https://raw.githubusercontent.com/kaopanboonyuen/2110446_DataScience_2021s2/main/datasets/data.tgz
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45477462 (43M) [application/octet-stream]
Saving to: ‘data.tgz’

data.tgz            100%[===================>]  43.37M   143MB/s    in 0.3s

2022-08-13 10:04:24 (143 MB/s) - ‘data.tgz’ saved [45477462/45477462]

data/
data/._GB_category_id.json
data/GB_category_id.json
data/._US_category_id.json
data/US_category_id.json
data/._USvideos.csv
data/USvideos.csv
data/._GBvideos.csv
data/GBvideos.csv

## How many rows are there in the GBvideos.csv after removing duplications?

In [116]:
GB_df = pd.read_csv('data/GBvideos.csv')

print(GB_df.shape)
GB_df.drop_duplicates(inplace=True)

(38916, 16)

In [117]:
print('after remove dup:',GB_df.shape)

after remove dup: (38745, 16)

In [118]:
GB_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg,False,False,False,Musical guest Taylor Swift performs …Ready for...
2,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
3,PUTEiSjKwJU,17.14.11,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,https://i.ytimg.com/vi/PUTEiSjKwJU/default.jpg,False,False,False,Salford drew 4-4 against the Class of 92 and F...
4,rHwDegptbI4,17.14.11,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,https://i.ytimg.com/vi/rHwDegptbI4/default.jpg,False,False,False,Dashcam captures truck's near miss with child ...

## How many VDO that have "dislikes" more than "likes"?  Make sure that you count only unique title!

In [119]:
condition_list=GB_df.dislikes>GB_df.likes
GB1_df=GB_df[condition_list]
n=len(GB1_df['title'].unique())
print('VDO dislike > like count :',n)

VDO dislike > like count : 56

## How many VDO that are trending on 22 Jan 2018 with comments more than 10,000 comments?

In [120]:
cond1=GB_df.trending_date=="18.22.01"
cond2=GB_df.comment_count>10000
print('How many VDO on 22 Jan 2018 more than 10,000:',len(GB_df[cond1 &cond2]))

How many VDO on 22 Jan 2018 more than 10,000: 28

## Which date that has the minimum average number of comments per VDO?

In [230]:
comment_df=GB_df.groupby('trending_date')['comment_count'].mean().reset_index(name='avg_comment')

min_avg_loc=comment_df['avg_comment'].argmin()
comment_df.iloc[min_avg_loc]

trending_date       17.15.11
avg_comment      4738.673367
Name: 15, dtype: object

## Compare "Sports" and "Comady", how many days that there are more total daily views of VDO in "Sports" category than in "Comady" category?

In [145]:
import json
with open('data/GB_category_id.json') as cat:
    GBcat = json.load(cat)
GBcat

{'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/1v2mrzYSYG6onNLt2qTj13hkQZk"',
 'items': [{'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKmPBggty2mZQ"',
   'id': '1',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': True,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Film & Animation'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45ZTFR3a3NyTA"',
   'id': '2',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': True,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Autos & Vehicles'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxbknKFVe5Lmg"',
   'id': '10',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': True,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Music'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-oBJavSGkfDI"',
   'id': '15',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': True,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Pets & Animals'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/9GQMSRjrZdHeb1OEM1XVQ9zbGec"',
   'id': '17',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': True,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Sports'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/FJwVpGCVZ1yiJrqZbpqe68Sy_OE"',
   'id': '18',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Short Movies'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/M-3iD9dwK7YJCafRf_DkLN8CouA"',
   'id': '19',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': True,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Travel & Events'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/WmA0qYEfjWsAoyJFSw2zinhn2wM"',
   'id': '20',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': True,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Gaming'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/EapFaGYG7K0StIXVf8aba249tdM"',
   'id': '21',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Videoblogging'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/xId8RX7vRN8rqkbYZbNIytUQDRo"',
   'id': '22',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': True,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'People & Blogs'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/G9LHzQmx44rX2S5yaga_Aqtwz8M"',
   'id': '23',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': True,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Comedy'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/UVB9oxX2Bvqa_w_y3vXSLVK5E_s"',
   'id': '24',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': True,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Entertainment'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/QiLK0ZIrFoORdk_g2l_XR_ECjDc"',
   'id': '25',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': True,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'News & Politics'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/r6Ck6Z0_L0rG37VJQR200SGNA_w"',
   'id': '26',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': True,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Howto & Style'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/EoYkczo9I3RCf96RveKTOgOPkUM"',
   'id': '27',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': True,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Education'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/w5HjcTD82G_XA3xBctS30zS-JpQ"',
   'id': '28',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': True,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Science & Technology'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/lL7uWDr_071CHxifjYG1tJrp4Uo"',
   'id': '30',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Movies'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/WnuVfjO-PyFLO7NTRQIbrGE62nk"',
   'id': '31',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Anime/Animation'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/ctpH2hGA_UZ3volJT_FTlOg9M00"',
   'id': '32',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Action/Adventure'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/L0kR3-g1BAo5UD1PLVbQ7LkkDtQ"',
   'id': '33',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Classics'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/pUZOAC_s9sfiwar639qr_wAB-aI"',
   'id': '34',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Comedy'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/Xb5JLhtyNRN3AQq021Ds-OV50Jk"',
   'id': '35',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Documentary'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/u8WXzF4HIhtEi805__sqjuA4lEk"',
   'id': '36',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Drama'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/D04PP4Gr7wc4IV_O9G66Z4A8KWQ"',
   'id': '37',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Family'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/i5-_AceGXQCEEMWU0V8CcQm_vLQ"',
   'id': '38',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Foreign'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/rtlxd0zOixA9QHdIZB26-St5qgQ"',
   'id': '39',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Horror'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/N1TrDFLRppxZgBowCJfJCvh0Dpg"',
   'id': '40',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Sci-Fi/Fantasy'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/7UMGi6zRySqXopr_rv4sZq6Za2E"',
   'id': '41',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Thriller'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/RScXhi324h8usyIetreAVb-uKeM"',
   'id': '42',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Shorts'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/0n9MJVCDLpA8q7aiGVrFsuFsd0A"',
   'id': '43',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Shows'}},
  {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/x5NxSf5fz8hn4loSN4rvhwzD_pY"',
   'id': '44',
   'kind': 'youtube#videoCategory',
   'snippet': {'assignable': False,
    'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
    'title': 'Trailers'}}],
 'kind': 'youtube#videoCategoryListResponse'}

In [147]:
GBcat_list = []
for d in GBcat['items']:
    GBcat_list.append((int(d['id']), d['snippet']['title']))

GBcat_df = pd.DataFrame(GBcat_list, columns=['id', 'category'])
GBcat_df

    id              category
0    1      Film & Animation
1    2      Autos & Vehicles
2   10                 Music
3   15        Pets & Animals
4   17                Sports
5   18          Short Movies
6   19       Travel & Events
7   20                Gaming
8   21         Videoblogging
9   22        People & Blogs
10  23                Comedy
11  24         Entertainment
12  25       News & Politics
13  26         Howto & Style
14  27             Education
15  28  Science & Technology
16  30                Movies
17  31       Anime/Animation
18  32      Action/Adventure
19  33              Classics
20  34                Comedy
21  35           Documentary
22  36                 Drama
23  37                Family
24  38               Foreign
25  39                Horror
26  40        Sci-Fi/Fantasy
27  41              Thriller
28  42                Shorts
29  43                 Shows
30  44              Trailers

In [168]:
#cat id
#sport = 17
#comedy= 23,34

GB_dfcat=GB_df.merge(GBcat_df, left_on='category_id', right_on='id')
GB_dfcat.category_id.value_counts()

10    13700
24     9055
22     2923
1      2564
26     1928
17     1903
23     1820
20     1778
25     1218
15      533
28      516
27      457
2       144
19       96
43       20
Name: category_id, dtype: int64

In [198]:
con_s=( GB_dfcat['category']=='Sports')
con_c=(GB_dfcat['category']=='Comedy')
df_sport=GB_dfcat[con_s].groupby('trending_date')['views'].sum().reset_index(name='view_s')
df_comedy=GB_dfcat[con_c].groupby('trending_date')['views'].sum().reset_index(name='view_c')
#GB_dfcat.groupby('trending_date')[['category','id','trending_date','views']]

In [202]:
df_sport.shape

(205, 2)

In [203]:
df_comedy.shape

(205, 2)

In [215]:
df_merge=df_sport.merge(df_comedy)
compare=df_merge['view_s']>df_merge['view_c']
#compare
print("how many days that there are more total daily views of VDO in Sports category than in Comady category:",len(df_merge[compare]))

how many days that there are more total daily views of VDO in Sports category than in Comady category: 49